.tt-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .wrap li {
        background: #bec7cf;
    }

.tt-flex-item {
       padding: 10px;
    width: 250px;
    height: auto;
    margin: 10px;
    color: black;
    font-weight: normal;
    font-size: 1em;
   
}